body {
    background-color: black ;
}
 
 
#texto {
    color : rgb(0, 162, 255);
    text-align: center;
}

h2 {
    color : white;
}

p {
    color: white;
}

ul {
    color: white;
}
  
img {
    display: block;
    margin: 25px auto 32px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(0, 162, 255);
    transition: transform 200ms ease, box-shadow 200ms ease, filter 200ms ease;
    will-change: transform;
   }
   
   img.is-expanded {
    transform: scale(1.06);
    box-shadow: 0 16px 44px rgb(23, 102, 141);
}